@model WebApplication.ViewModels.SitemapElementViewModel

@{
    ViewData["Title"] = "View";
}

@foreach (var item in Model.SitemapElements) {
    if (item.ParentLevel != 0)
    {
        <td>
            @Html.ActionLink(item.Title + ">", item.ActionName, item.ControllerName)
        </td>
    }
    else
    {
        <td>
            @Html.ActionLink(item.Title, item.ActionName, item.ControllerName)
        </td>
    }
}